.display-container {
    height: 35vh;
    width: 30vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.count-down-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
